
body {
    background-color: #f5f3f3
    
}

.card-group{
    margin: 10px;
}
.strip{
    margin: 10px;
}
.strip h2 {
    margin-top: 10px;
    margin-left: 10px;
    font-size:2em;
}
.strip input{
    margin-top: 10px;
}
.strip button{
   margin-top: 10px;
}
div .logoLabelParent h2{
    margin-top: 15px;
    margin-left: 5px;   
    font-size: 2em; 
}


div .logoImgParent img{
    width:75px;
    height:75px;    
    margin-left: 10px;
    margin-top:15px ; 
    margin-bottom: 20px; 
}
header .container {
    margin: 0px;
}

header .container .row {
    margin:0px;
}
h1 {
    text-align: center;
    color: #313457;
}
h2 {
    font-size: 3rem;
    
}
h4 {
    font-size: 16px;
    font-weight: 700;
}
header {
    padding: 20px 0 0 0;
    background: white;
    text-align: center;
}
.home {
    position: relative;
}
.home .navegacion {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
header .nav a {
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
    color: white;
}
@media (min-width: 750px) {
    header {
        text-align: left;
    }
}
.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#hero {    
    height: 350px;
    background-size: cover;
}
#encabezado {
    margin: 30px 0;
}
.submenu {
    position: relative;
   
}
td p{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.submenu th{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);
}
.submenu #carrito{
    display: none;
}


.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color:#ffb8c3;
    
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.contenido-hero {
    margin-top: 80px;
    color: white;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #b8578e;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
      margin-top: 15px;
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #b8578e;
    overflow: hidden;
    border-radius: .25em;
  }
  select {

    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #3d345d;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }

.slider {
    background: url('https://www.10wallpaper.com/wallpaper/1366x768/1405/Pile_of_books-Windows_Photo_Wallpaper_1366x768.jpg');
    min-height: 600px;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    
    
}  


.slider .text {
    color: transparent;
    font-size: 10vw;
    display: inline-block;
    border-radius: 3px;
    background-color: #bbbfca;
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .slider .text:before {
    content: attr(data-title);
    background: linear-gradient(90deg, rgba(228,223,223,1) 0%, rgba(227,180,180,1) 35%, rgba(255,186,159,1) 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 1s ease-in-out;
    animation: text-animation 3s infinite;
  }
  
.slider h1 {
    color: white;
}
.slider .formulario{
    margin-left: 20%;
}
.slider .select{
  margin-right: 3%;
  margin-bottom: 5%;
  margin-top: 0%;
}
.slider p {
    margin-left: 0%;
    margin-right: 2%;
    color:#bbbfca;
    font-size: 3rem;

}

@keyframes text-animation{
    0%{
      width: 0;
    }
    50%{
      width: 100%;
    }
    100%{
      width: 0;
    }
  }

.slider h2 {
    color: #caf7e3;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    font-size: 4rem;
}
.slider em {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 4rem;
    order: -1;
    line-height: .8;
    color: rgba(255, 255, 255, .5);
}

.slider h2 {
    color: #bbbfca;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
  }
  
  h2 span {
    font-size: 3.5rem;
    margin-left: 5px;  
    

  }
  
  .message {
    background-color: #888888;
    color: #ffffff;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;    
    top: 0.2rem;
    left: 270px;
    animation: openclose 5s ease-in-out infinite;
  }
  
  .word1, .word2, .word3 {
    font-family: tahoma;
  }

  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }




@media (min-width:768px) {
    .slider em {
        font-size: 8rem;
    }
}


.home {
    position: relative;
}
.home .navegacion {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navegacion {
    background-color:#057E99;
}
.nav-link.active {
    border-bottom: 5px solid white;
}

.contenido-hero form {
    position: relative;
    margin-bottom: 0;
}
.contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
}
.contenido-hero form .submit-buscador {
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;    
    background-position: right center;
    background-repeat: no-repeat;
    border:none;
}


.barra {
    padding: 20px 0;
    background: #741d51; /* Old browsers */
    background: -moz-linear-gradient(left, #3d345d 0%, #b8578e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3d345d 0%, #b8578e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3d345d 0%, #b8578e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
}

.barra p {
    margin:0;
    color: white;
}
.icono {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 750px) {
    .icono {
        margin-bottom:0;
    }
}


#lista-cursos .row {
    margin-bottom:20px;
}
.agregar-carrito {
    
   
    margin:10px 0;
}

.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background:#3d345d;
}
@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}
.info-card  {

    padding: 10px 20px;
}

.info-card p, 
.card h4 {
    color: #fff;
    margin-bottom: 5px;
}
.info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}


.footer {
    
    min-height: 200px;
    height: 200px;
    background-size: cover;
    margin-top: 40px;
    border-top:1px solid #aaa;;
    padding-top: 40px;   
}
.footer h2,h3{
    color: #3d2c50;
}
.footer .menu a{
display: block;
color: #3d2c50;
margin-bottom: 10px;
text-decoration: none;
}




@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");


::-moz-selection {
  background: rgba(170, 170, 170, 0.3);
}

::selection {
  background: rgba(170, 170, 170, 0.3);
}

.heading {
  margin: 80px 0 0 80px;
  font-size: 64px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
}
.heading > div {
  overflow: hidden;
}
.heading > div > p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  margin: 0;
  line-height: 117%;
}

.green {
  color: #32c267;
}

div.heading > div {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
div.heading > div:nth-child(2) > p {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

div.heading > div {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
div.heading > div:nth-child(3) > p {
  -webkit-animation-delay: 0.075s;
          animation-delay: 0.075s;
}

.slide-up {
  -webkit-animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
          animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@-webkit-keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Esto es la puntuacion de las cartas */

.rating {
    float:left;
  }

  /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
    follow these rules. Every browser that supports :checked also supports :not(), so
    it doesn’t make the test unnecessarily selective */
  .rating:not(:checked) > input {
      position:absolute;
      top:-9999px;
      clip:rect(0,0,0,0);
  }

  .rating:not(:checked) > label {
      float:right;
      width:1em;
      /* padding:0 .1em; */
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:300%;
      /* line-height:1.2; */
      color:#ddd;
  }

  .rating:not(:checked) > label:before {
      content: '★ ';
  }

  .rating > input:checked ~ label {
      color: yellow;
      
  }

  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
      color: yellow;
      
  }

  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
      color: yellow;
      
  }

  .rating > label:active {
      position:relative;
      top:2px;
      left:2px;
  }
  .form-signin{
      width:100%;
      max-width: 300px;
      padding:15px;
      margin:auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  



  /*comentariosStyle*/
a,
a:visited {
  
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  
  text-decoration: none;
  font-weight: bold;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}
.feed-container {
  margin: 25px;
}
.feed-border {
  background: #fff;
  width: 600px;
  box-shadow: 0px 1px 0px 2px rgba(51, 51, 51, 0.1);
  border-radius: 1px;
  margin: 15px 0px;
}
.feed-options {
  position: absolute;
  left: 600px;
  color: #808080;
  cursor: pointer;
}
.feed-content,
.feed-avatar {
  float: left;
}
.feed-avatar {
  margin: 10px 10px;
}
.feed-content {
  margin: 20px 5px;
  width: 80%;
}
.feed-avatar img {
  border-radius: 50%;
}
.feed-footer {
  border-top: solid 1px #e0e0e0;
  padding-top: 10px;
  background: #f0f0f0;
}
.feed-footer .footer-left {
  float: left;
  margin: 0px 15px 10px 15px;
  font-size: 14px;
}
.feed-footer .footer-right {
  float: right;
  margin: 0px 15px 10px 0px;
  font-size: 14px;
}
.footer-time {
  color: #808080;
  cursor: pointer;
}
.feed-footer a {
  color: #808080;
}
.feed-footer a:hover {
  color: #333;
}
.divisor {
  border-left: solid 1px #b5b5b5;
  margin-right: 5px;
  margin-left: 1px;
}
